body {
    background-image: url('/styles/assets/home/background-home-desktop.jpg');
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    color: white;
    background-color: black;
}

h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    margin-left: 100px;
}

h5 {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    margin-left: 100px;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
}

.description {
    display: inline-block;
    width: 25%;
    line-height: 32px;
    margin-left: 100px;
}

.top-bar {
    display: flex;
    margin-top: 30px;
}

#navbar-line {
    border-bottom: 1px solid white;
    opacity: 30%;
    margin: auto;
    width: 40%;
}

.menu-list {
    margin: 20px 160px 20px auto;
    align-items: right;
    padding: 40px 10px 40px 20px;
    backdrop-filter: blur(20px);
}

.nav-element {
    position: relative;
    text-decoration: none;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 22px;
    letter-spacing: 2.7px;
    display: inline;
    padding: 0px 30px;
}

#home {
    text-decoration: underline;
}

#explore-btn {
    display: inline-block;
    font-family: 'Bellefair', serif;
    font-size: 32px;
    letter-spacing: 6.5px;
    margin: auto 100px 50px 850px;
}